@import "./Global.scss";

.header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;
    font-family: var(--logo-font);
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 1rem;
    border-bottom: 1px solid transparent;
    transition: border 0.9s ease-in-out;
    li {
      margin: 0 0.5rem;
      padding-bottom: 5px;
      font-size: 1rem;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid #975c5c;
      }
    }
    @include breakpoint('sm') {
      display: none;
    }
  }
  &__contact {
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
}
