@import "./Global.scss";

.hero {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: calc(10vw - 80px);
  color: #eee;
  &__left {
    max-width: 500px;
    padding: 20px;
    margin-right: auto;
  }
  &__header {
    background: linear-gradient(to right, #975c5c, rgb(92, 60, 90));
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__summary {
    opacity: 0.7;
    font-size: 0.8rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    max-width: 420px;
    transition: all 1s ease-in-out;
  }
  &__call {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin-right: 0.5rem;
      letter-spacing: 0.4rem;
    }
    .enter-icon {
      margin-top: 1px;
      animation: enter 1.5s linear infinite;
      &:hover {
        animation: none;
      }
    }
  }
}

.blinker {
  animation: blinker 1s linear infinite;
  color: #975c5c;
  margin-left: 3px;
}

@keyframes enter {
  0% {
    margin-left: 0.2rem;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 0.2rem;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// CODE
.code-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  @include breakpoint('md') {
    display: none;
  }
}
.code-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: relative;
  position: absolute;
  &:hover {
    animation-play-state: paused;
  }
}
.code-left {
  animation: counter-spin 180s linear infinite;
  left: -50px;
}
.code-right {
  animation: spin 180s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}