.hero {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__left {
    max-width: 500px;
    padding: 20px;
  }
  &__header {
    background: linear-gradient(to right, #975c5c, rgb(92, 60, 90));
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__content {
    opacity: 0.7;
    font-size: 0.8rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    transition: all 1s ease-in-out;
  }
  &__call {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin-right: 0.5rem;
      letter-spacing: 0.4rem;
    }
    .enter-icon {
      margin-top: 1px;
      animation: enter 1.5s linear infinite;
      &:hover {
        animation: none;
      }
    }
  }
}

.blinker {
  animation: blinker 1s linear infinite;
  color: #975c5c;
  margin-left: 3px;
}

@keyframes enter {
  0% {
    margin-left: 0.2rem;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 0.2rem;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// CODE
.code-wrapper {
  width: 300px;
  height: 300px;
  border: 3px solid #975c5c;
  border-radius: 50%;
  animation: beamOut 4s linear infinite;
}
.code-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: relative;
  animation: spin 40s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100px;
    height: 20px;
    background: linear-gradient(to right, #975c5c, rgb(92, 60, 90));
    border-radius: 2px;
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes beamOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}